<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script type="application/javascript" src="lib/browser-polyfill.min.js"></script>
  <title>Daily Pomodoro</title>

</head>
<body>
<div id="container">
  <textarea id="note"></textarea>
  <div>
    <button id="saveButton">Save</button>
    <button id="optionButton">Settings</button>
  </div>
</div>
<script type="application/javascript" src="scripts/popup.js"></script>
</body>
</html>
